div.section {
	width: 80% !important;
	width: 87%;
	margin-left: 10px;
	margin-top:5px;
	margin-bottom:5px;
	border-style:solid;
	border-width:1px;
}

div.section_header {
	font-family: 宋体;
	font-size: 20px;
	color: #ffffff;
	background-color: #adafff;
	padding: 5px;
	border-style:solid;
	border-width:1px;
}

div.section_content {
	
}

div.section_part {
	overflow: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width:80%;
	min-height:380px;
	background-image: url(/image/book_h_bg.gif);border-style:solid;
	border-width:1px;
}

div.section_part_logo {
	float: left;
	margin: 10px;border-style:solid;
	border-width:1px;
}

div.section_part_logo img {
	border-style: none;border-style:solid;
	border-width:1px;
}

div.section_part_title {
	font-size: 24px;
	font-weight: bold;
	color: #ff6633;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	vertical-align: top;border-style:solid;
	border-width:1px;
	margin: 2px;
	padding: 2px;
}

div.section_learn_more {
	font-weight: bold;
	color: #ff6633;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

div.section_learn_more a:link,div.section_learn_more a:visited {
	text-decoration: none;
}

div.section_part_title a {
	display: block;
}

div.section_part_title a:link,div.section_part_title a:visited {
	text-decoration: none;
}

div.section_part_subtitle {
	font-size: 14px;
	font-weight: bold;
	color: #ff1122;
}

div.section_part_desc {
	vertical-align: top;
	margin: 2px;
	padding: 2px;
	border-style:solid;
	border-width:1px;
}