@CHARSET "utf-8";

.title {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.category {
	margin-bottom: 5px;
}

.category_title {
	font-size: 13px;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 3px;
}

.category_content {
	display: block;
	width: auto;
	margin: 5px;
}

.category_content a {
	text-decoration: none;
}