@CHARSET "utf-8";

div.part {
	float: left;
	margin-top: 5px;
	width: 100%;
}

div.part_header {
	margin: 6px;
	font-size: 14px;
	font-weight: bolder;
	background-color:#edfede;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
}

div.part_body {
	margin: 6px;
	padding-left:5px;
}

div.part_body label {
	font-weight: bold;
}

div.part_item {
	display: block;
	margin-top: 6px;
	margin-bottom: 6px;
	overflow: visible;
	min-height: 24px;
}

div.part_item label {
	display: block;
	float: left;
	width: 80px;
}

div.table_header {
	height: 40px;
}

div.table_header_col {
	margin-top: 13px;
	float: left;
	display: block;
	width: 160px;
	text-align: center;
}

div.table_row {
	min-height: 40px;
}

div.table_cell {
	margin-top: 13px;
	float: left;
	display: block;
	width: 160px;
	text-align: center;
	display: block;
}

div.table_cell a {
	text-decoration: none;
}

div.table_cell a:hover {
	text-decoration: underline;
}