@CHARSET "UTF-8";

.formLayout {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 90%;
	overflow: auto;
}

.formLayout label,.formLayout input,.formLayout select,.formLayout textarea
	{
	display: block;
	width: 400 px;
	float: left;
	margin-bottom: 10 px;
}

.formLayout label {
	width: 100px;
	padding-right: 20px;
}

.formLayout textarea {
	height: 80px;
}

.formLayout input.submitbtn {
	width: 500px;
}

.loginLayout {
	background-color: #f3f3f3;
	border: solid 1px #a1a1a1;
}

.loginLayout label,.loginLayout input,.loginLayout select {
	height: 20px;
	float: left;
	margin-top: 10px;
}

.loginLayout input,.loginLayout select {
	width: 90 px;
}

.loginLayout label {
	width: 45 px;
	padding-top: 3px;
	margin-right: 2px;
	text-align: left;
	vertical-align: middle;
}