@CHARSET "UTF-8";

.list {
	width:100%;
	font-size:18px;
	font-style:bold;
	font-family:宋体;
	display:block;
	text-align:left;
	padding:5px;	
	color:#ffddff;
	background-color:#ee5555;
}

.list ul {
	font-size: 16px;
	font-style: bold; 
	font-family : 黑体;
	float: left;
	margin: 5px;
	color: #ffffff;
	padding: 5px;
	list-style: none;
	background: #ddaaaa;
	border-bottom: 1px solid #3373a9;
	border-top: 1px solid #003867;
	font-family: 黑体;
}

.list ul li {
	padding: 5px;
}

.list ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	width: 150px;
	border-top: 1px solid #3373a9;
	border-bottom: 1px solid #003867;
}

.list ul li a:hover {
	border-top: 1px solid #1a4c76;
}