@CHARSET "UTF-8";

table.dataTable {
	font-family: 宋体;
	font-size: 12px;
	border-width: 0px;
	border-style: solid;
}

table.dataTable th {
	text-align: left;
}

table.dataTable th td {
	
}