<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">

	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE}%n[%t]%c %n%p:%m%n" />
		</layout>
	</appender>

	<appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="import.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE}%n[%t]%c %n%p:%m%n" />
		</layout>
	</appender>

	<root>
		<level value="error" />
		<appender-ref ref="consoleAppender" />
	</root>

	<logger name="order.OrderImporter">
		<level value="warn" />
		<appender-ref ref="fileAppender" />
	</logger>
</log4j:configuration>