@CHARSET "UTF-8";

label {
	float: left;
	width: 120px;
	margin-bottom: 10px;
	font-weight: bold;
}

input,textarea,select {
	width: 500px;
	margin-bottom: 10px;
	font-size: 12px;
	font-family: 宋体;
}

.radioTable input {
	width: 20px;
}

.radioTable label {
	width: 40px;
	font-size: 12px;
	font-weight: normal;
	font-family: 宋体;
	font-size: 12px;
}

textarea {
	height: 60px;
}

.boxes {
	width: 1em;
}

input.submitbutton {
	width: 220px;
}

input.submitbutton2 {
	width: 126px;
}

input.submitlongbutton {
	margin-left: 120px;
	margin-top: 5px;
	width: 500px;
}

#submitbutton {
	margin-left: 120px;
	margin-top: 5px;
	width: 90px;
}

br {
	clear: left;
}

div.searchForm {
	display: inline;
	float: left;
}

div.searchForm label {
	width: 120px;
	font-weight: bold;
}

div.searchForm input,div.searchForm textarea,div.searchForm select {
	width: 200px;
	margin-bottom: 10px;
	font-size: 12px;
	font-family: 宋体;
}

div.searchForm textarea {
	height: 150px;
}

div.searchForm .boxes {
	width: 1em;
}

div.searchForm #submitbutton {
	margin-left: 120px;
	margin-top: 5px;
	width: 90px;
}

div.searchForm br {
	clear: left;
}