@CHARSET "UTF-8";

#fast_nav ul {
	margin-left: 2px;
	margin-top: -5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 宋体;
	list-style-type: none;
	font-size: 16px;
	font-weight: bold;
}

#fast_nav li {
	width: 140px;
	margin: 3px;
	padding-top: 9px;
	padding-bottom: 8px;
	font-family: 宋体;
	font-size: 12px;
	color: #004FBD;
	background-color: #D9ECFF;
	text-align: center;
	text-valign: center;
}

#fast_nav li a {
	display: block;
	text-decoration: none;
}

#fast_nav a:link,#fast_nav a:visited {
	font-size: 12px;
	font-style: normal;
	color: #004FBD;
	text-decoration: none;
}

#fast_nav a:hover,#fast_nav a:active {
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}