@CHARSET "UTF-8";

.curvy {
	position: relative;
	width: 250px;
	background: #9caf9c;
	color: #000;
	margin: 5em auto;
}

#ctl,#cbl,#ctr,#cbr {
	position: absolute;
	width: 20px;
	height: 20px;
	color: #9caf9c;
	background: #fff;
	overflow: hidden;
	font-style: normal;
	z-index: 1;
}

#ctl {
	top: 0;
	left: 0;
}

#cbl {
	bottom: 0;
	left: 0;
}

#ctr {
	top: 0;
	right: 0;
}

#cbr {
	bottom: 0;
	right: 0;
}

.curvy em b {
	position: absolute;
	font-size: 100px;
	font-family: arial;
	color: #9caf9c;
	line-height: 40px;
	font-weight: normal;
}

#ctl b {
	left: -8px;
}

#ctr b {
	left: -25px;
}

#cbl b {
	left: -8px;
	top: -17px;
}

#cbr b {
	left: -25px;
	top: -17px;
}

.curvy p {
	position: relative;
	z-index: 100;
	padding: 10px 15px;
	font-size: 11px;
}