@CHARSET "utf-8";

.book_list_container {
	float: left;
	margin: 5px;
	width: 740px;
}

.bl_unit {
	margin-bottom: 10px;
	float: left;
}

.bl_picture {
	width: 120px;
	height: 140px;
	float: left;
}

.bl_picture img {
	width: 120px;
	height: 140px;
}

.bl_title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

.bl_content {
	float: left;
	margin-left: 10px;
	width: 560px;
	font-size: 14px;
}

.bl_brief {
	width: 600px;
	float: left;
}

div.attr {
	margin-top: 5px;
	margin-bottom: 5px;
}

div.attr label {
	font-weight: bold;
	width: 70px;
	display: block;
	float: left;
}

div.short_attr {
	margin-top: 2px;
	margin-bottom: 2px;
}

div.short_attr label {
	font-weight: bold;
	width: 50px;
	display: block;
	float: left;
}

.also_like_container {
	float: left;
	width: 230px;
	margin-right: 5px;
	margin-top: 5px;
}

.also_like_pic {
	float: left;
	width: 60px;
	height: 70px;
}

.also_like_first {
	margin-top: 5px;
	margin-bottom: 5px;
}

.also_like_first_title {
	margin-bottom: 10px;
	font-size: 14px;
}

.also_like_first_text {
	float: left;
	margin-left: 5px;
	font-size: 12px;
}

.also_like_others {
	
}

.also_like_pic img {
	width: 50px;
	height: 65px;
}

.navigation_bar {
	margin-top: 2px;
	margin-bottom: 10px;
}

.navigation_bar_right {
	float:right;
	margin-right:180px;
	margin-top: 20px;
	margin-bottom: 10px;
}