@CHARSET "utf-8";

/* BUTTONS */
a.btn,button,a.btn_negative,a.btn_positive,a.btn_regular {
	display: block;
	float: left;
	margin: 0 7px 0 0;
	background-color: #f5f5f5;
	border: 1px solid #5e5e5e;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}

a.btn img,a.btn_regular img,a.btn_positive img {
	float: left;
}

button.btn {
	width: auto;
	overflow: visible;
	padding: 4px 10px 3px 7px; /* IE6 */
}

button[type] {
	padding: 5px 10px 5px 7px; /* Firefox */
	line-height: 17px; /* Safari */
}

*:first-child+html button[type] {
	padding: 4px 10px 3px 7px; /* IE7 */
}

/* STANDARD */
button:hover,a.btn:hover {
	background-color: #dff4ff;
	border: 1px solid #c2e1ef;
	color: #336699;
}

a.btn:active {
	background-color: #6299c5;
	border: 1px solid #6299c5;
	color: #fff;
}

/* POSITIVE */
button.positive,a.btn_positive {
	color: #529214;
}

a.btn_positive:hover,button.positive:hover {
	background-color: #E6EFC2;
	border: 1px solid #C6D880;
	color: #529214;
}

a.btn_positive:active {
	background-color: #529214;
	border: 1px solid #529214;
	color: #fff;
}

/* NEGATIVE */
a.btn_negative,button.negative {
	color: #d12f19;
}

a.btn_negative:hover,button.negative:hover {
	background: #fbe3e4;
	border: 1px solid #fbc2c4;
	color: #d12f19;
}

a.btn_negative:active {
	background-color: #d12f19;
	border: 1px solid #d12f19;
	color: #fff;
}

/* REGULAR */
button.regular,a.btn_regular {
	color: #336699;
}

a.btn_regular:hover,button.regular:hover {
	background-color: #dff4ff;
	border: 1px solid #c2e1ef;
	color: #336699;
}

a.btn_regular:active {
	background-color: #6299c5;
	border: 1px solid #6299c5;
	color: #fff;
}

.btn_solid {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#dfdfdf' );
	background-color: #ededed;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
}

.btn_solid:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf
		), color-stop(1, #ededed) );
	background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf',
		endColorstr='#ededed' );
	background-color: #dfdfdf;
}

.btn_solid:active {
	position: relative;
	top: 1px;
}

.btn_solid_small {
	-moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
	box-shadow: inset 0px 0px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#dfdfdf' );
	background-color: #ededed;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 10px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
}

.btn_solid_small:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf
		), color-stop(1, #ededed) );
	background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf',
		endColorstr='#ededed' );
	background-color: #dfdfdf;
}

.btn_solid_small:active {
	position: relative;
	top: 1px;
}

.btn_highlight {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: #f7b02d;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #f0f0f0;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 5px;
	text-decoration: none;
}

.btn_highlight:hover,.btn_highlight:visited {
	background-color: #f59b2c;
	color: #f0f0f0;
}

.btn_highlight:active {
	position: relative;
	top: 1px;
	color: #f0f0f0;
}

.btn_confirm {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0ef216
		), color-stop(1, #22a117) );
	background: -moz-linear-gradient(center top, #0ef216 5%, #22a117 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ef216',
		endColorstr='#22a117' );
	background-color: #0ef216;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #f0e7f0;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 8px 24px;
	text-decoration: none;
}

.btn_confirm:hover,.btn_confirm:visited {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #22a117
		), color-stop(1, #0ef216) );
	background: -moz-linear-gradient(center top, #22a117 5%, #0ef216 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#22a117',
		endColorstr='#0ef216' );
	background-color: #22a117;
	color: #f0e7f0;
}

.btn_confirm:active {
	position: relative;
	color: #f0e7f0;
	top: 1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
.btn_confirm_small {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: #05e61f;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #eefacd;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 8px;
	text-decoration: none;
}

.btn_confirm_small:hover,.btn_btn_confirm_small:visited {
	background-color: #1fbf24;
	color: #eefacd;
}

.btn_confirm_small:active {
	position: relative;
	color: #eefacd;
	top: 1px;
}

.btn_alternative {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fff538), color-stop(1, #ffc533) );
	background:-moz-linear-gradient( center top, #fff538 5%, #ffc533 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff538', endColorstr='#ffc533');
	background-color:#fff538;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#82838f;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	margin-top:5px;
}.btn_alternative:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc533), color-stop(1, #fff538) );
	background:-moz-linear-gradient( center top, #ffc533 5%, #fff538 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc533', endColorstr='#fff538');
	background-color:#ffc533;
	color:#82838f;
}.btn_alternative:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
