@CHARSET "utf-8";

div.part {
	float: left;
	margin-top: 5px;
	width: 100%;
}

div.part_header {
	margin: 6px;
	font-size: 14px;
	font-weight: bolder;
	background-color: #edfede;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

div.part_body {
	margin: 6px;
	padding-left: 5px;
}

div.part_body label {
	font-weight: bold;
}

div.part_item {
	display: block;
	margin-top: 6px;
	margin-bottom: 6px;
	overflow: visible;
	min-height: 24px;
}

div.part_item label {
	display: block;
	float: left;
	width: 80px;
}

div.table_header {
	height: 40px;
	background-color: #FEE8D3;
}

div.table_header_col {
	margin-top: 13px;
	font-size: 13px;
	display: block;
	width: 160px;
	text-align: center;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #e1e1e1;
	float: left;
}

div.table_row {
	min-height: 20px;
	margin-top: 4px;
	margin-bottom: 4px;
	overflow:auto;
}

div.table_cell {
	float: left;
	display: block;
	width: 160px;
	text-align: center;
	display: block;
	margin-top: 10px;
	font-size: 13px;
}

div.table_cell a {
	text-decoration: none;
}

div.table_cell a:hover {
	text-decoration: underline;
}

div.section {
	background-color: #f2f1f3;
}

div.section_header {
	font-size: 14px;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #83B3FA;
	color: #327564;
	font-weight: bolder;
}

div.item {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.section ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

div.section li {
	padding: 0px;
	padding-bottom: 7px;
	padding-left: 15px;
	padding-top: 7px;
}

div.section a {
	display: block;
	color: #2dc4ea;
	text-decoration: none;
}

div.section a:visited {
	color: #2dc4ea;
}